<div class="upcoming-events">
  <h2><%= params.key?(:event) ? "Past Events" : "Upcoming Events" %></h2>

  <% if params[:event] %>
    <%= form_tag url_for, :method => :get do %>
      <%= date_select :event, :end_date, :start_year => 2009, :discard_day => true %>
      <%= hidden_field :event, :search %>
      <%= submit_tag %>
    <% end %>       
  <% end %>

</div>
<table class="upcoming">
<% @events.each do |event| %>
  <tr>
    <td>
      <%= link_to event.name, event %>
    </td>
    <td>
      <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
    </td>
    <td>
      <%= event.location %>
    </td>

  </tr>
<% end %>
</table>