<div class= "event">
  <h2>
    <%= @event.name %>
    <span class="rsvp-info">
      <%= form_tag event_attend_path(@event) do |form| %>
        <% if @event.attended_by? current_user %>
          <input class="rsvp" type="checkbox" checked="checked"/> Attending
        <% else %>
          <input class="rsvp" type="checkbox"/> Attending
        <% end %>
      <% end %>

      <%= link_to 'See Attendees', event_users_path(@event) %>

      <% if @event.created_by?(current_user) %>
        <%= link_to 'Edit', edit_event_url(@event) %>
      <% end %>
    </span>
  </h2>
  
  <section>
    <%= @event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
    &ndash;
    <%= @event.ends_at.try(:strftime, "%B %d, %l:%M %p") %>    
  </section>

  <section>
    <label>Location: </label>
    <%= @event.location %>
  </section>

  <section>
    <label> Open to: </label> 
    <%= @event.who %>
  </section>

  <section>
    <%= @event.description %>
  </section>
</div>

<div>
  <h3> Comments </h3>
  <% @event.comments.each do |comment| %>
    <%= comment.body %> <br />
    <%= comment.creator.email %> wrote at <%= comment.created_at %> <br />
  <% end %>
  <%= render :partial => 'comment/form', :locals => {
    :comment => Comment.new
  } %>
</div>
<script>
  $(document).on('click', 'input.rsvp', function(event) {
    var url = $(this).closest('form').attr('action');
    $.post(url, {attend: $(this).prop('checked')})
    
  });
</script>
